<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
<!-- Spring管理Struts2的Dao和Service -->
<bean id="iUserManage" class="Service.UserManageImp">
		<property name="iUserDao" ref="iUserDao"></property>
	</bean>
	<bean id="iUserDao" class="Dao.UserDaoImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="iUserInfoManage" class="Service.UserInfoManageImp">
		<property name="iUserInfoDao" ref="iUserInfoDao"></property>
	</bean>
	<bean id="iUserInfoDao" class="Dao.UserInfoDaoImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="iPowerManage" class="Service.PowerManageImp">
		<property name="iPowerDao" ref="iPowerDao"></property>
	</bean>
	<bean id="iPowerDao" class="Dao.PowerDaoImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="iClassManage" class="Service.ClassManageImp">
		<property name="iClassDao" ref="iClassDao"></property>
	</bean>
	<bean id="iClassDao" class="Dao.ClassDaoImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="iClassInfoManage" class="Service.ClassInfoManageImp">
		<property name="iClassInfoDao" ref="iClassInfoDao"></property>
	</bean>
	<bean id="iClassInfoDao" class="Dao.ClassInfoDaoImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="iStudyManage" class="Service.StudyManageImp">
		<property name="iStudyDao" ref="iStudyDao"></property>
	</bean>
	<bean id="iStudyDao" class="Dao.StudyDaoImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="iCommentManage" class="Service.CommentManageImp">
		<property name="iCommentDao" ref="iCommentDao"></property>
	</bean>
	<bean id="iCommentDao" class="Dao.CommentDaoImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="iReplyManage" class="Service.ReplyManageImp">
		<property name="iReplyDao" ref="iReplyDao"></property>
	</bean>
	<bean id="iReplyDao" class="Dao.ReplyDaoImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="iPartManage" class="Service.PartManageImp">
		<property name="iPartDao" ref="iPartDao"></property>
	</bean>
	<bean id="iPartDao" class="Dao.PartDaoImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="iHomeworkDao" class="Dao.HomeworkDaoImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
		<bean id="iHomeworkManage" class="Service.HomeworkManageImp">
		<property name="iHomeworkDao" ref="iHomeworkDao" />
	</bean>
	<bean id="iTestManage" class="Service.TestManageImp">
		<property name="iTestDao" ref="iTestDao" />
	</bean>
	<bean id="iTestDao" class="Dao.TestDaoImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="iScoreManage" class="Service.ScoreManageImp">
		<property name="iScoreDao" ref="iScoreDao" />
	</bean>
	<bean id="iScoreDao" class="Dao.ScoreDaoImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">  
     <property name="sessionFactory" ref="sessionFactory" /> 
     </bean> 
<!-- *********************************************************** -->
	<!-- Spring管理Struts2的Action -->
	<!-- *************************CommonAction*********************** -->
<bean id="login" class="Action.LoginAction" scope="prototype"></bean>
<bean id="regist" class="Action.RegistAction" scope="prototype"></bean>

<!-- *********************************************************** -->
<!-- *************************TestAction*********************** -->
 
	<!-- *********************************************************** -->
	<!-- *************************StudyAction*********************** -->
	<bean id="studyManage" class="Action.StudyManageAction" scope="prototype"></bean>
    <!-- *********************************************************** -->
    <!-- *************************ResouceAction********************* -->
    <bean id="findResource" class="Action.FindResourceAction" scope="prototype"></bean>
     <bean id="classManage" class="Action.ClassManageAction" scope="prototype"></bean>
     <bean id="addClass" class="Action.AddClassAction" scope="prototype"></bean>
     <bean id="classMessage" class="Action.ClassMessageAction" scope="prototype"></bean>
    <!-- *********************************************************** -->
    <!-- *************************UserAction*********************** -->
    <bean id="userInfo" class="Action.UserInfoAction" scope="prototype"></bean>
    <!-- *********************************************************** -->
</beans>
